<div>
    <h1>Cart</h1>
    <div layout="row">
        <!-- Item -->
        <div flex="60" class="center">
            Item
        </div>

        <!-- Quantity -->
        <div flex="20" class="center">
            Quantity
        </div>

        <!-- Price -->
        <div flex="20" class="center">
            Unit Price
        </div>

    </div>

    <hr>

    <div layout="row" layout-align="center center" ng-repeat="item in items">
        <!-- Item -->
        <div flex="60" layout-align="center center">
            <img class="wl-image-small start-margin end-margin grey-bg" ng-src="http://lorempixel.com/500/500/">
            {{item.name}}
        </div>

        <!-- Quantity -->
        <div flex="20" layout='row' layout-fill layout-margin layout-align='center center'>
            <!--<span class="glyphicon glyphicon-plus start-margin-small end-margin-small"></span>-->
            <!--{{item.quantity}}-->
            <!--<span class="glyphicon glyphicon-minus start-margin-small end-margin-small"></span>-->
            <md-select ng-model="item.quantity" ng-change="recalculate()">
                <md-option ng-value="qty" ng-repeat="qty in quantities">{{ qty }}</md-option>
            </md-select>
        </div>

        <!-- Price -->
        <div flex="20" class="center">S$ {{item.price | number:2}}</div>

    </div>

    <hr>

    <div layout="row">

        <!-- Subtotal -->
        <div flex="20" offset="60">
            <div class="end">
                Subtotal
            </div>
        </div>

        <div flex="20">
            <div class="center">
                S$ {{subtotal | number:2}}
            </div>
        </div>

    </div>

    <div layout="row">

        <!-- Tax -->
        <div flex="20" offset="60">
            <div class="end">
                Tax
            </div>
        </div>

        <div flex="20">
            <div class="center">
                S$ {{tax | number:2}}
            </div>
        </div>

    </div>

    <div layout="row">
        <div flex offset="50">
            <hr>
        </div>
    </div>

    <div layout="row">

        <!-- Total -->
        <div flex="20" offset="60">
            <div class="end">
                <b>Total</b>
            </div>
        </div>

        <div flex="20">
            <div class="center">
                <b>S$ {{total | number:2}}</b>
            </div>
        </div>

    </div>

</div>