<div layout="row" layout-align="center center">
    <div flex="90" layout-sm="column" layout-gt-sm="row" layout-align-gt-sm="center start" layout-align-sm="center center">

        <div class="main-details-container" flex-sm="100" flex-md="33" flex-gt-md="50" layout="column" layout-align="center center">
            <img class="wl-image-big" src="http://lorempixel.com/500/500/">

            <div layout="row" layout-align="center center">
                <div flex="25" ng-repeat="picture in pictures">
                    <img class="wl-image-small" src="http://lorempixel.com/500/500/">
                </div>
            </div>

            <hr />

            <div flex="100" layout="row" layout-md="column" layout-align-md="start start">
                <span><a href="#" class="main-details-like-comment-suggestion">{{like}} likes</a></span>
                <span hide-md class="main-details-like-comment-suggestion">&middot;</span>
                <span><a ng-click="gotoComments()" class="main-details-like-comment-suggestion">{{comments.length}} comments</a></span>
                <!--<span hide-md class="main-details-like-comment-suggestion">&middot;</span>-->
                <!--<span><a href="#" class="main-details-like-comment-suggestion">2 suggestions</a></span>-->
            </div>

        </div>

        <div class="main-details-container"flex-sm="100" flex-md="66" flex-gt-md="50" layout="column" layout-align="start start">
            <!-- Name -->
            <h1>{{name}}</h1>

            <!-- Description -->
            <p>{{description}}</p>

            <!-- Color -->
            <div layout="row" layout-align="start center">
                <span class="glyphicon glyphicon-tag main-details-tag-icon"></span>
                <span class="details-text main-details-tag">{{color}}</span>
            </div>

            <!-- Size -->
            <div layout="row" layout-align="start center">
                <span class="glyphicon glyphicon-tag main-details-tag-icon"></span>
                <span class="details-text main-details-tag">{{product_size}}</span>
            </div>

            <!-- Price -->
            <div layout="row" layout-align="start center">
                <span class="glyphicon glyphicon-tag main-details-tag-icon"></span>
                <span class="details-text main-details-tag">S$ {{price}}</span>
            </div>

            <!-- Availability -->
            <div layout="row" layout-align="start center">
                <span class="glyphicon glyphicon-tag main-details-tag-icon"></span>
                <span class="details-text main-details-tag">{{available}}</span>
            </div>

            <div layout="row" layout-align="center start">
                <md-button class="md-warn md-raised">Add to Cart</md-button>
                <md-button class="md-primary md-raised">Contact Seller</md-button>
            </div>
        </div>

    </div>



</div>

<div id="comments">
    <div layout="row" layout-align="center start" ng-repeat="comment in comments" class="top-margin-small bottom-margin-small">
        <div flex="70" layout="row" layout-align="start center">

            <!-- Profile Picture -->
            <div class="start-margin end-margin">
                <img class="wl-image-small" src="http://lorempixel.com/500/500/">
            </div>

            <!-- Details -->
            <div layout="column">
                <div>{{comment.name}}</div>
                <div>{{comment.comment}}</div>
            </div>
        </div>
    </div>
</div>