body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin-left: 0;
    margin-right: 0;
}

hr {
    border: 0;
    clear:both;
    display:block;
    background-color:#f0f0f0;
    height: 1px;
}

md-card {
    margin: 0 30px 25px 30px;
}

.center {
    text-align: center;
    margin: auto;
}

.wl-image-big {
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: 100%;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}

.wl-image-small {
    max-height: 50px;
    max-width: 50px;

    width: 100%;
    height: 100%;

    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.main-details-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-details-tag-margin {
    margin-right: 15px;
}

.main-details-tag-icon {
    color: #888888;
    margin-right: 15px;
}

.main-details-tag {
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     font-size: 22px;
     color: #888888;
 }

.main-details-like-comment-suggestion {
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #808080;
}

.end {
    text-align: right;
}

.start {
    text-align: left;
}

.end-margin {
    margin-right: 20px;
}

.end-margin-small {
    margin-right: 10px;
}

.start-margin {
    margin-left: 20px;
}

.start-margin-small {
    margin-left: 10px;
}